<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../stylesheet/style.css">
    </head>
<body> 
    <div class="nav">
        <h1>Site for People who want to touch grass </h1>
    </div>
<header class="nav">
    <a href="/"><div>
        Home
    </div></a>
    <a href="/booking"><div>
        View booking
    </div></a>
    <a href="/booking/newBook"><div>
        Make a booking
    </div></a>
    <a href="/booking/find"><div>
        Delete Booking
    </div></a>
    <a href="/booking/find"><div>
        Modify Booking
    </div></a>
    <a href="/about"><div>
        About us
    </div></a>
    <a href="/help"><div>
        Help
    </div></a>
</header>
</body>
</html>