<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head> 
<body>
    <%- include ('../views/partials/headers'); %>
<div class="wrapper">
    <h1>About Us</h1>
<article class="genericText">
    <h1>Hi! </h1>I am Cho Fong, and <blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. <span id="cm">Cum</span> sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</blockquote>
    This is a site for people who want to book some outdoor activities and touch grass.<br>
    Bookings can be made, modified and deleted whenever you want to.
    Just leave your name, email, credit card details(I won't steal it I promise) and the rest will be done for you!
</article>
</div>
</body>