<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head> 
<body>
    <%- include ('../views/partials/headers'); %>
<div class="wrapper">
    <h1>Help</h1>
        <ul>
            <li><div class="dropDown">How to make a booking
                <article class="hiddenText">
                Make a booking -> Enter details -> submit
                </article></div>
            </li>
        <li><div class="dropDown">How to view bookings
                <article class="hiddenText">
                Go to view bookings
                </article></div>
        </li>
        <li><div class="dropDown">How to search for a booking/Modify/Delete Booking
            <article class="hiddenText">
                Go to Modify/Delete Booking -> Enter name and range of date -> submit
            </article></div> 
            <li><div class="dropDown">How to Modify Booking
                <article class="hiddenText">
                    Go to Modify/Delete Booking -> Enter name and range of date -> submit -> Press update on booking<br>
                    -> Enter new details -> submit
                </article></div>
                <li><div class="dropDown">How to Delete Booking
                    <article class="hiddenText">
                        Go to Modify/Delete Booking -> Enter name and range of date -> submit -> Press Delete on booking<br>
                        -> submit
                    </article></div>
        </li>
        </ul>
</div>
</body>