<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head> 
<body>
    <%- include ('../views/partials/headers'); %>
<div class="wrapper">
    <h1>List of Available outdoor activity</h1>
<article class="imgCluster">
    <div class="img i-a hidden">
        Camping
    </div>
    <div class="img i-b hidden">
        Climbing
    </div>
</article>
</div>
</body>

   